<div *ngIf="loaded; else loading">
  <div class="return">
    <button [routerLink]="['/albums']"><-</button>
  </div>
  <h3>Album Detail #{{album.id}}</h3>

  <h4>{{album.title}}</h4>
  <div class="update">
    <button (click)="isUpdate()">change title</button>
    <div class="change page" *ngIf="changed">
      <input [(ngModel)]="newTitle">
      <button (click)="saveTitle()">Save</button>
    </div>
    <button [routerLink]="['photos/']">Photos</button>
  </div>
</div>

<ng-template #loading>Loading album...</ng-template>
