<!--<p>home works!</p>-->

<div class="hh_all">
  <div class="head">
    <div class="head_items">
      <div class="item_1">
        <button class="itm_btn">Almaty</button>
      </div>
      <div class="item_2">
        <button class="itm_btn2">Соискателям</button>
      </div >
      <div class="item_3">
        <button class="itm_btn3">Работодателям</button>
      </div>
    </div>
  </div>
  <div style="width: 100%">
    <img class="back_img" src="../../assets/back.png">
  </div>
<div class="div_mrg">
  <div class="second_head">
    <div class="logo_link">
      <img class="logo-img" src="../../assets/logo.svg">
    </div>
    <div class="help">
      <button class="help_btn" type="button">Помощь</button>
    </div>
    <div class="links">
      <div class="company_btn">
        <button class="companies_btn">Компании</button>
      </div>
      <div class="vacancy_btn">
        <button class="vacancies_btn">Вакансии</button>
      </div>
    </div>
  </div>
  <div class="title">
    <div class="hh_body_center">
      <div class="headline">
        <h1>Найди работу мечты</h1>
      </div>
      <div class="search">
        <div >
          <input class="input_search" type="text" placeholder="Профессия, должность или компания">
        </div>
        <div >
          <button class="find_work_btn" type="button">Найти работу</button>
        </div>
      </div>
    </div>
  </div>
  <div class="body_end">
    <div class="count_vcs">
      <span class="num">241</span>
      <span style="font-size: 25px;">Vacancies</span>
    </div>
    <div class="count_cms">
      <span class="num">41 </span>
      <span style="font-size: 25px;">Companies</span>
    </div>
</div>
  <div class="right app-buttons">
    <a class="app ios" rel="noreferrer" target="_blank" href=""></a>
    <a class="app and" rel="noreferrer" target="_blank" href=""></a>
    <a class="app hua" rel="noreferrer" target="_blank" href=""></a>
  </div>
  <main>
    <ul class="list">
      <li>Ethics and compliance</li>
      <li>Provision of services</li>
      <li>Using websites</li>
      <li>Personal data protection</li>
      <li>User agreement</li>
    </ul>
  </main>
  <footer style="margin-top: 550px">
    <div class="line"></div>
    <div class="footer">
      <div class="footer last">
        <p>&copy; 2024 headHunter.kz All rights reserved</p>
        <span>
                Қазақ тілі
                <img class="flag" src="../../assets/flagkz.svg" alt="">
            </span>
        <span class="rus">
                Руский язык
                <img class="flag" src="../../assets/flagrus.svg" alt="">
            </span>
      </div>
      <div class="li">
        <button class="btt"><img class="social" src="../../assets/free-icon-facebook-app-symbol-20837.png" alt=""></button>
        <button class="btt"><img class="social" src="../../assets/free-icon-social-15452816.png" alt=""></button>
        <button class="btt"><img class="social" src="../../assets/free-icon-instagram-3661391.png" alt=""></button>
      </div>
    </div>
  </footer>
</div>
</div>
