div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

div > div {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

h3 {
  margin-top: 10px;
}

span {
  display: block;
  margin-top: 5px;
}
